{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Todo, hey {{ user.username }}</title>
    <style>
        .custom-font {
            font-family: 'Georgia', sans-serif;
            font-size: 40px;
        }

        .logo {
            position: absolute;
            top: 20px;
            left: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .team-member {
            text-align: center;
            margin-bottom: 30px;
        }

        .team-member img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    </style>

</head>

<body style="background-color: lightgrey;">
    <header class="site-header">
        <nav class="navbar navbar-expand-lg col mb-5 navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-4 custom-font" href="{% url 'home' %}">Todo</i> </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'welcome' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'users-profile' %}">Profile</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <img src="{% static 'images/college_logo.png' %}" alt="Logo" class="logo">

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <h1>About</h1>
                    <p>
                        Welcome to our to-do list application! With our app, you can manage your tasks and stay
                        organized.
                    </p>
                    <h2>Features</h2>
                    <ul>
                        <li>Create and manage multiple to-do lists</li>
                        <li>Add delete tasks</li>
                        <li>Access your to-do lists from anywhere</li>    
                        <li>View and update account information</li>
                    </ul>
                    <h2>Admin Features</h2>
                    <ul>
                        <li>Authentication and authorization</li>
                        <li>CRUD operations</li>
                        <li>Automatic form generation</li>
                        <li>List and detail views</li>
                        <li>Search and filtering functionality</li>
                    </ul>

                    <h2>User Authentication</h2>
                    <p>
                        Our application provides user authentication to ensure the privacy and security of your to-do
                        lists.
                        By registering an account and logging in, you can access your personalized to-do lists and keep
                        your
                        tasks private.
                    </p>
                    <p>
                        User authentication allows you to:
                    </p>
                    <ul>
                        <li>Create a unique account</li>
                        <li>Login securely with your credentials</li>
                        <li>Reset your password if needed</li>
                        <li>Protect your tasks and data from unauthorized access</li>
                        <li>Review your profile and change</li>

                    </ul>
                    <h2>Objective</h2>
                    <p>
                        Our team is dedicated to providing a user-friendly and efficient to-do list application. We
                        strive to
                        help individuals and teams stay organized, manage their tasks, and increase productivity.
                    </p>

                    <h1>Team</h1>
                    <p>
                        The following are the team members of this project, headed by our guide, <b>Dr. Pramod Kumar
                            Naik</b>
                    </p>
                    <div class="row">
                        <div class="col-md-3 team-member">
                            <h5>Kiran Thomas V</h5>
                            <p>ENG20CS0157</p>
                            <p>kiranthomasv077@gmail.com</p>
                        </div>
                        <div class="col-md-3 team-member">
                            <h5>M J Jerusha Naomi</h5>
                            <p>ENG20CS0176</p>
                            <p>jerushanaomimj@gmail.com</p>
                        </div>
                        <div class="col-md-3 team-member">
                            <h5>Kunal Jaiswal</h5>
                            <p>ENG20CS0167</p>
                            <p>eng20cs0167@dsu.edu.in</p>
                        </div>
                        <div class="col-md-3 team-member">
                            <h5>Maheep Singh Shaan</h5>
                            <p>ENG20CS0183</p>
                            <p>maheepshaan956@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>